[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
pydeck = "*"
netcdf4 = "*"
numpy = "*"
dask = "*"
bottleneck = "*"
xarray = {extras = ["complete"], version = "*"}
scipy = "*"
eccodes = "*"
h3 = "*"
jupyter = "*"
altair = "*"
pandoc = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
